.bpcf-base-theme{
  display:block;
  width:100%;
  border:1px dotted black;
  box-sizing:border-box;
  padding:30px;
  position:relative;
}


.bpcf-base-theme .field{
  width:100%;
}

.bpcf-base-theme .form-label{
  display:block;
}

.bpcf-base-theme .custom-field{
  border:1px solid #FFE7FF;
  padding:10px 5px;
  box-sizing:border-box;
}

.bpcf-base-theme .form-control{
  width: 100%;
  box-sizing: border-box;
  height: 25px;
  max-width: 220px;
  font-size: 13px;
}

.bpcf-base-theme .text .form-control{

  max-width:500px;
  height:100px;
}

.bpcf-base-theme .bpcf-editor{
  height:auto;
  max-width:100%;
}