<div class='nested-fields repeater'>  
    
		<div class='bpcf-field'>
      <%= f.hidden_field :container %>
      <%= f.fields_for :children do |child_field| %>
				<%= basic_field(child_field, child_field.object.field_template) %>
      <% end %>
    </div>
		
    <%= link_to_remove_association "Remove Row", f %>
		
</div>