<div class="custom-field string-field">
  <%= builder.label :value, field_template.label, class: "form-label" %>
  <%= content_tag(:div, field_template.instructions, class: "field-instructions") unless field_template.instructions.blank? %>
  <%= builder.email_field :value, class: "form-control" %>
</div>