<% if builder.object.file.present? %>
  <p>Current File: </p>
  <%= link_to builder.object.file, builder.object.file %>
  <p>Replace: </p>
<% end %>

<%= builder.file_field :file, bpcf_html_options(field_template, builder.object, {accept: field_template.accepted_file_types}) %>
