<div class='child-fields'>  
  
  <%= builder.fields_for :children do |child| %>
    <%= render :partial => 'bp_custom_fields/field_types/admin/child_fields', locals: {f: child} %>
  <% end %>
  
  <div class='links'>
    <%= link_to_add_association 'Add Image', builder, :children, {partial: '/bp_custom_fields/field_types/admin/child_fields'}%>  
  </div>
</div>
