<p>Upload an image or (NEED TO SUPPORT DROPZONE! (or other lightweight drop library))... </p>
<%= builder.file_field :file, custom_fields_html_options(field_template, builder.object) %>

<p>enter url: </p>
<%= builder.text_field :value, custom_fields_html_options(field_template, builder.object) %>
