<p>Upload an image or (NEED TO SUPPORT DROPZONE! (or other lightweight drop library))... </p>
<%= builder.file_field :file, bpcf_html_options(field_template, builder.object, {accept: field_template.accepted_file_types}) %>

<p>enter url: </p>
<%= builder.text_field :value, bpcf_html_options(field_template, builder.object) %>
