<p>Upload a video or... </p>
<%= builder.file_field :file, custom_fields_html_options(field_template) %>

<p>enter url: </p>
<%= builder.text_field :value, custom_fields_html_options(field_template) %>

