.custom-fields{
  display:none;
}
.additional-option{
  display:none;
}
.additional-option.active{
  display:block;
}

.bpcf-editor{
  border:1px solid lightgrey;
  min-height:100px;
}

.bpcf-editor p{
  margin-top:0px;
}


/* children fields */

.field_template_children-fields{
  padding-left:20px;
}

.nested-fields.repeater{
  padding-left: 30px;
}